/* All */

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

/* .container {
    max-width: 960px;
    margin: 0 auto;
  } */

/* Header */

header {
    background-color: #1d5a8c;
    color: white;
}
header nav {
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    
}

header .mobile {
    display: none;
}

header ul {
    padding: 0;
}

header a {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 0 1.25rem 0 1.25rem;
   
}

/* Desktop mode: hide the mobile version */
header .mobile {
    display: none; 
}

/* Mission */

#mission {
    background-color: #7098b7;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.statement {
    background-color: #1d5a8c;
    width: 100%;
    text-align: center;
}

/* About */

#about {
    /* height not declared, otherwise images will overflow */
    color: #1d5a8c;
}

.about-text {
    padding-top: 0.2rem;
    margin: 3.5% 1.5%;
}

#about .photos {
    display: inline-block;
    margin: 4em auto;
}

/* images take 30% space */
#about .photos img {
    width: 30%;
    margin: 0 1.5%;
}

.middle-img {
    border-top: 1px solid #99abb8;
}

/* images take 100% width and display 1-by-1 */
@media only screen and (max-width: 960px){
    
    #about .photos img {
        width: 100%;
        margin: 0 0 1% 0;
    }
}

/* Testimonial */

#testimonial {
    height: 25rem;
    background-color: #7098b7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1.25rem;
    margin: auto;
}

.quote {
    text-align: center;
}

.quote blockquote {
    font-size: 1.3rem;
    font-weight: bold;
}

.quote p {
    font-size: 1rem;
}




/* Call to action */

#call-to-action .photos {
    display: inline-block;
    margin: 4em auto 2em auto;
}

/* images take 30% space */
#call-to-action .photos img {
    height: 13.8125rem;
    width: 20.75rem;
    width: 30%;
    margin: 0 1.5%;
}

#call-to-action .meetup {
    color: #1d5a8c;
    text-align: center;
    padding-top: 1rem;
   }

/* images take 100% width and display 1-by-1 */
@media only screen and (max-width: 960px){
    
    #call-to-action .photos img {
        height: 32.0625rem;
        width: 48.125rem;
        width: 100%;
        margin: 0 0 1% 0;
    }

    #call-to-action .meetup img {
        width: 100%;
    }
}

/* Footer */